In [1]:
a = ["Apple","Ball","Cat"]
print(a)
print(type(a))

['Apple', 'Ball', 'Cat']
<class 'list'>

In [2]:
a = list()
type(a)

list

In [5]:
a = ["Apple","Ball","Cat"]
a[2]

'Cat'

In [7]:
a = ["Apple","Ball","Cat"]
a[-2]

'Ball'

In [8]:
a = ["Apple","Ball","Cat"]
b = ["Dog","Fish"]
a+b

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [9]:
a = ["Apple","Ball","Cat"]
b = ["Dog","Fish"]
b+a

['Dog', 'Fish', 'Apple', 'Ball', 'Cat']

In [10]:
a =['Dog', 'Fish', 'Apple', 'Ball', 'Cat']
a*2

['Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat']

In [13]:
a = ["Apple","Ball","Cat"]
a[0]="Ant"
a

['Ant', 'Ball', 'Cat']

In [16]:
y = list()
# y = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value of x = ")
    y = y+[x]
print(y)

Enter n = 3
Enter value of x = Ram
Enter value of x = Shyam
Enter value of x = Hari
['Ram', 'Shyam', 'Hari']

In [17]:
result = []
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("ENter age = "))
    add = input("Enter address = ")
    info = f"{name} {age} {add}"
    result = result +[info]
print(result)

Enter the value of n = 2
Enter name = Ram
ENter age = 56
Enter address = Patan
Enter name = Shyam
ENter age = 78
Enter address = kathmandu
['Ram 56 Patan\n', 'Shyam 78 kathmandu\n']

In [21]:
result[0].split()

['Ram', '56', 'Patan']

In [22]:
a = "Ram,56,Patan"
a.split(',')

['Ram', '56', 'Patan']

In [23]:
a = [32,34,23,35,23,456,23]
a*2

[32, 34, 23, 35, 23, 456, 23, 32, 34, 23, 35, 23, 456, 23]

In [24]:
a = a+[2,3,4]
a

[32, 34, 23, 35, 23, 456, 23, 2, 3, 4]

In [28]:
y = list()
# y = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter value of x = "))
    y = y+[x]
print("The list is =",y)
print("The total sum is ",sum(y))
print("the max value is = ",max(y))
print("The min value is = ",min(y))

Enter n = 5
Enter value of x = 23
Enter value of x = 345
Enter value of x = 234
Enter value of x = 54
Enter value of x = 234
The list is = [23, 345, 234, 54, 234]
The total sum is  890
the max value is =  345
The min value is =  23

In [29]:
y.sort()

In [30]:
y

[23, 54, 234, 234, 345]

In [31]:
z = [23, 345, 234, 54, 234]
sorted(z)

[23, 54, 234, 234, 345]

In [32]:
z

[23, 345, 234, 54, 234]

In [33]:
z.reverse()

In [34]:
z

[234, 54, 234, 345, 23]

In [35]:
a = ["apple","Zebra","1Xray",".Nepal"]
a.sort()

In [36]:
a

['.Nepal', '1Xray', 'Zebra', 'apple']

In [39]:
# append()
a = ["Apple","Ball","Cat"]
b = "Dog"
a.append(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog']

In [40]:
result = []
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("ENter age = "))
    add = input("Enter address = ")
    info = f"{name} {age} {add}"
    result.append(info)
print(result)

Enter the value of n = 2
Enter name = Ram
ENter age = 78
Enter address = Patan
Enter name = Shyam
ENter age = 56
Enter address = Bara
['Ram 78 Patan', 'Shyam 56 Bara']

In [41]:
y = list()
# y = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value of x = ")
    y.append(x)
print(y)

Enter n = 4
Enter value of x = sfsdf
Enter value of x = ads
Enter value of x = fdgdg
Enter value of x = dasas
['sfsdf', 'ads', 'fdgdg', 'dasas']

In [42]:
# del remove pop

In [45]:
x = ['Apple', 'Ball', 'Cat', 'Dog']
del x[0]
print(x)

['Ball', 'Cat', 'Dog']

In [47]:
x = ['Apple', 'Ball', 'Cat', 'Dog']
del x[0:2]
print(x)

['Cat', 'Dog']

In [48]:
x = ['Apple', 'Ball', 'Cat', 'Dog']
del x
print(x)

NameError: name 'x' is not defined

In [50]:
x = ['Apple', 'Ball', 'Cat', 'Dog']
x.remove('Apple')
print(x)

['Ball', 'Cat', 'Dog']

In [52]:
x = ['Apple', 'Ball', 'Cat', 'Dog']
x.pop(1)

'Ball'

In [53]:
print(x)

['Apple', 'Cat', 'Dog']

In [54]:
x = ['Apple', 'Ball', 'Cat', 'Dog']
y = x.pop(2)
print(y)
print(x)

Cat
['Apple', 'Ball', 'Dog']

In [56]:
x = ['Apple', 'Ball', 'Cat', 'Dog']
x.clear()
print(x)

[]